.header__navbar{
    background-color: #ffa014;
}

.navbar__ul li a{
    color: #fff;
    font-size: 1.2rem;
}



.buscador__filtrador{
    background: rgb(253,198,29);
    background: linear-gradient(0deg, rgba(253,198,29,1) 0%, #ffa014 25%, #ff7214 100%);
    height: 500px;
}

body{
    overflow-x: hidden;
}
.buscador__empresas{
    padding: 3rem .8rem;
    display: flex;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}
@media only screen and (max-width: 450px){
    .buscador__filtrador{
        height: 25vh;
    }
    .buscador__empresas{
        height: 75vh;

    }

}

.empresa__card{
    padding: 2rem 1rem 3rem 1rem;
    border: solid .1rem gray;
    border-radius: .3rem;
    margin: .5rem ;
    

}

.contenedorProductos{
    height: 100%;
/*     background-color: rgba(253, 149, 29, 0.8);
 */    
    background: rgb(253,198,29);
    background: linear-gradient(90deg, rgba(253,198,29,1) 0%, rgba(252,176,69,1) 25%, rgba(253,29,29,1) 100%);

    box-shadow: -30px 0px 40px #00000014;
}

.tabla__productos{
    overflow-x: auto;
}

.card{
    margin: .25rem 0;
}

.botonAgregar{
    border: none;
    background-color: rgba(0, 0, 0, 0.216);
    border-radius: 1rem;
}

.carrito{
    position: fixed;
    right: 2rem;
    top: 2rem;
    width: 3rem;
    height: 3rem; 
    border-radius: .3rem;
}

.contenedor__link{
    color: #000;
}

.link__carritoSvg{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    transform: translate(-50%, -25%);
}

.prueba > *{
    text-align: center;
}

